# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\trafficSample\Image-Unfogging\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
